@import url("https://fonts.googleapis.com/css2?family=Allura&family=Poppins:wght@400;500&display=swap");

html {
  scroll-behavior: smooth;
}

@keyframes puladiv {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateX(0px);
  }
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  position: relative;
}

header,
nav,
ul {
  background-color: #0c0a0d;
  display: flex;
  list-style: none;
  color: white;
}

ul li a {
  transition: 300ms all ease-in-out;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav {
  position: absolute;

  right: 5%;
  bottom: 0;
  transform: translateY(100%);

  color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}
dialog {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;

  overflow-y: hidden;

  border: none;

  background-color: transparent;
}

*:focus {
  outline: none;
}

dialog:-internal-dialog-in-top-layer::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.8);
}

.ativo {
  color: #9c9c9c !important;
}

.scroll-lock {
  overflow-y: hidden;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container-menu {
  max-width: 1200px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  position: relative;

  display: flex;

  justify-content: center;
  align-items: center;
}

/*inicio barra de menu*/

#logo {
  font-family: Allura;
  font-size: 1.5rem;
}
h1#logo {
  font-family: allura;
  font-size: 4.5;
}
.menu-mob {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);

  width: 1rem;
}

.menu-desk {
  display: flex;
  flex-direction: column;
  text-align: center;

  border: 1px solid #3d3d3d;
  border-top: none;
  border-radius: 0px 0px 5px 5px;

  padding: 10px;

  font-size: 0.8rem;
}

.menu-desk li {
  border-bottom: 1px solid #3d3d3d;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.menu-desk li:first-child {
  padding-top: 0.5rem;
}

.menu-desk li:last-child {
  border-bottom: none;
  padding-bottom: 0.5rem;
}

.hidden-menu {
  display: none;
}

/*fim barra de menu*/

/*inicio pag inicial*/

.inicio {
  text-align: center;
  color: white;

  background-image: url("https://ik.imagekit.io/ovisu/Gestora/marmoredark.jpg?updatedAt=1700157033497");
  background-size: cover;

  min-height: min-content;
  padding-top: 12rem;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
.inicio h1 {
  font-size: 3.5rem;
  font-weight: 100;
  font-family: Allura;
  margin: 0px;
  line-height: 0.5;
}
.inicio h3 {
  font-size: 1rem;
  font-weight: 100;
}

.jump-wrapper a {
  width: max-content;
  display: inline-block;
}

.jump-wrapper {
  pointer-events: all;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20%;

  text-align: center;

  display: none;

  z-index: 1;
}
.jump-wrapper img {
  width: 1.5rem;
  height: auto;
  cursor: pointer;
}
.jump-wrapper p {
  font-size: 0.875rem;
  color: #aaaaaa;
  cursor: pointer;
}

/*fim pag inicial*/

/*inicio pag de fotos*/

.fotos-section {
  background-image: url("https://ik.imagekit.io/ovisu/Gestora/marmorelight.jpg?updatedAt=1700156286770");
  background-size: cover;

  min-height: fit-content;
  padding: 4rem 1rem 7rem 1rem;
}

.fotos-section h2 {
  font-size: 1.5rem;
  font-weight: 100;
  color: #1a191a;
}

.fotos-section h3 {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  color: #332b38;
}

.fotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  justify-items: end;
  gap: 0.4rem;

  text-align: right;
}

.fotos p {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}
.itens-fotos img {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  display: block;
  min-height: 6rem;
}

/* ajustes modal*/

.btn-fecha-modal {
  text-align: right;
  margin-right: 5%;
  cursor: pointer;

  color: #fff;
  font-size: 1rem;

  transition: 300ms all ease-in-out;
}
.btn-abre-modal {
  cursor: pointer;
  transition: 300ms all ease-in-out;
}
.btn-abre-modal:hover {
  color: #4d4d4d;
}
.btn-fecha-modal:hover {
  color: #2d2d2d;
}

/*ajustes caroussel */

.swiper-slide img {
  width: 100%;
  height: fit-content;
  min-height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;

  display: none !important;
}

/*fim pag de fotos */

/*inicio pag de contato*/
.contato {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;

  min-height: fit-content;
  padding-top: 6rem;
  padding-bottom: 10rem;

  background-color: #0c0c0c;
  color: white;
}

.contato h2 {
  font-size: 1.5rem;
  font-weight: 100;

  margin-top: auto;
}
.container-icons {
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.icons-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: 300ms all ease-in-out;
}

.icons-wrapper:hover {
  color: #9c9c9c;
}

.icons-wrapper p {
  font-size: 1rem;
}
/*fim contato*/

/*Inicio media queries*/

@media (min-width: 48rem) {
  /*alteração menu*/
  .menu-mob {
    width: 1.5rem;
  }
  #logo {
    font-size: 1.8rem;
  }
  .inicio {
    gap: 7rem;
  }
  /*alteração inicio*/
  .text-wrapper h1 {
    font-size: 6rem;
  }
  .text-wrapper h3 {
    font-size: 1.5rem;
  }
  .jump-wrapper {
    display: initial;
  }
  .jump-wrapper img {
    width: 3rem;
  }
  .jump-wrapper p {
    font-size: 1.1rem;
  }
  /*alteracoes fotos*/
  .fotos-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem 2.5rem 2.5rem 2rem;
  }

  .fotos-section h2 {
    font-size: 2.3rem;
  }
  .fotos-section h3 {
    font-size: 1.3rem;
  }
  .fotos p {
    font-size: 1.3rem;
  }
  .fotos p i {
    font-size: 1.1rem;
  }

  .fotos {
    grid-template-columns: 2fr 1fr;
    gap: 0.1rem;
    margin: 40px 0px 10px 0px;
  }

  .fotos .image1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .itens-fotos p {
    margin-top: 15px;
  }
  .itens-fotos img {
    min-height: 10rem;
  }
  .itens-fotos img.image1 {
    min-height: 20rem;
  }
  .hidden {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
  }
  /*Alteracoes contato*/

  .contato {
    gap: 6rem;
  }

  .contato h2 {
    font-size: 2.5rem;
  }

  .icons-wrapper img {
    width: 2.5rem;
  }
  .icons-wrapper p {
    font-size: 1.5rem;
  }
}
@media (min-width: 64rem) {
  /*Alteracoes menu*/

  .menu-mob {
    display: none;
  }
  nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    bottom: initial;

    color: transparent;
  }
  .menu-desk {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    position: initial;
    padding: initial;
    font-size: 1rem;

    border: none;
  }

  .menu-desk li {
    border: none;
    padding: initial;
  }
  .menu-desk li:first-child {
    border: none;
    padding: initial;
  }
  .menu-desk li:last-child {
    border: none;
    padding: initial;
  }

  #logo {
    font-size: 2rem;
  }
  /*alteracoes inicio*/

  .inicio {
    min-height: 100vh;
    padding-top: 17rem;
    gap: 10rem;
  }
  .jump-wrapper {
    top: 25%;
  }
  .jump-wrapper:hover ~ .inicio {
    animation: puladiv 2s ease-in-out 0.2s infinite normal none;
  }
  .jump-wrapper:hover ~ .fotos-section {
    animation: puladiv 2s ease-in-out 0.2s infinite normal none;
  }
  /*alteracoes fotos*/

  .fotos {
    grid-template-columns: 3fr 2fr;
    gap: 0.2rem;
  }
  .itens-fotos img.image1 {
    min-height: 26em;
  }
  .itens-fotos img {
    min-height: 13rem;
  }

  .fotos-section {
    min-height: 100vh;
  }
  .fotos-section h3 {
    font-size: 1.5rem;
  }

  /*alteracoes carousel*/

  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }

  .swiper-slide img {
    width: 90%;
  }
  dialog:-internal-dialog-in-top-layer::backdrop {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.5);
  }

  /*alteracoes modal*/

  .btn-fecha-modal {
    font-size: 1.2rem;
  }

  /*alteracoes contato*/
  .contato {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0px;
  }
}
